body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	overflow-x: hidden;
	height: 100%;
}
body, .container-fluid, {
	position: relative;
	z-index: -3;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
	float: none;
}
hr {
	margin: 0;
	border-color: #000;
}
a, a:hover, a:visited, a:link {
	text-decoration: none;
	color: #fff;
}
p {
	font-size: 14px;
	line-height: 24px;
}
.video-section h2, .image-gallery h2 {
	padding-bottom: 15px;
}
h3 {
	text-align: left;
	line-height: 19px;
}
h3 {
	font-size: 14px;
	letter-spacing: 1.5px;
	font-weight: 700;
	margin: 10px 0 5px;
}
h2 {
	padding-top: 15px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 20px;
}
header {
	position: relative;
	width: 100%;
	height: 700px;
	background: url('../assets/stoneland-header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	z-index: -2;
}
.header-image {
	position: relative;
	width: 66%;
	margin-top: 320px;
}
.mobile {
	display: block;
	z-index: 99999999;
}
.desktop {
	display: block;
	z-index: 99999999;
}
.watch-film {
	display: block;
	margin: 0 auto;
	width: 200px;
	padding: 13px 15px;
	border-radius: 22px;
	color: #fff;
	background-color: #000;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1.8px;
	border: none;
	margin-top: -22px;
}
.arrow-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #fff;
}
.map-image {
	width: 100%;
	height: auto;
}
.pin {
	position: absolute;
}
#pin1 {
	top: 27%;
	left: 63%;
}
#pin2 {
	top: 38%;
	left: 78%;
}
#pin3 {
	top: 38.6%;
	left: 80.6%;
}
#pin4 {
	top: 39.4%;
	left: 72%;
}
#pin5 {
	top: 43%;
	left: 58%;
}
#pin6 {
	top: 48%;
	left: 64%;
}
#pin7 {
	top: 49%;
	left: 55%;
}
#pin8 {
	top: 55%;
	left: 54%;
}
.city-s {
	position: absolute;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#glasgow {
	top: 66.5%;
	left: 54%;
}
#edinburgh {
	top: 65%;
	left: 70%;
}
.city {
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
}
#circle1 {
	top: 68%;
	left: 57%;
}
#circle2 {
	top: 66.5%;
	left: 73%;
}
.text1 {
	margin: 40px 0 0 0;
}
.text2 {
	margin: 30px 0 0 0;
	height: 700px;
}
.video, .image-row {
	margin: 30px 0 0 0;
}
.text1 p {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.text2 p {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.text2, .text3 h2 {
	font-size: 24px;
}
.video-embed, .video-s {
	display: inline-block;
	width: 100%;
}
.video-img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.video-button {
	position: absolute;
	top: -70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.view-button {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
	margin: auto;
}
.gallery-button {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
	margin: auto;
	width: 200px;
	padding: 13px 15px;
	border-radius: 22px;
	color: #fff;
	background-color: #000;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1.8px;
	border: none;
	margin-top: -22px;
}
.gallery-button li {
	list-style: none;
}
footer img {
	margin: 60px 15px 60px 15px;
}

/****************************************************
					Media Queries
*****************************************************/

@media screen and (min-device-width: 320px) and (max-width: 767px) {
	header {
		height: 200px;
	}
	.header-image {
		position: relative;
		width: 80%;
		margin-top: 100px;
	}
	.desktop {
		display: none;
	}
	.pin {
		width: 14px;
	}
	.city {
		width: 6px;
		height: 6px;
	}
	.city-s {
		font-size: 10px;
	}
	#circle1 {
		top: 70%;
		left: 57%;
	}
	#circle2 {
		top: 68%;
		left: 73%;
	}
	.map {
		position: absolute;
		max-width: 1200px;
		min-width: 500px;
		margin: 0 auto;
		top: 56%;
		left: -50%;
		z-index: -3;
	}
	.text1 p {
		font-size: 14px;
		font-weight: 500;
		text-align: center;
	}
	.text2 p {
		font-size: 12px;
		font-weight: 500;
		text-align: center;
	}
	.text2, .text3 h2 {
		font-size: 24px;
	}
	.img-responsive {
		padding: 5px;
	}
	.text2 {
		margin: 30px 0 0 0;
		height: 500px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	header {
		height: 400px;
	}
	.header-image {
		position: relative;
		width: 80%;
		margin-top: 150px;
	}
	.mobile {
		display: none;
	}
}
.map {
	position: absolute;
	max-width: 900px;
	min-width: 500px;
	margin: 0 auto;
	top: 56%;
	left: 0%;
	z-index: -3;
}

}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
	header {
		position: relative;
		width: 100%;
		height: 600px;
		background: url('../assets/stoneland-header.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
	}
	.header-image {
		position: relative;
		width: 66%;
		margin-top: 320px;
	}
	.mobile {
		display: none;
	}
	.map {
		position: absolute;
		max-width: 1000px;
		min-width: 600px;
		margin: 0 auto;
		top: 66%;
		left: 10%;
		z-index: -3;
	}
}
@media screen and (min-width: 1201px) {
	header {
		position: relative;
		width: 100%;
		height: 700px;
		background: url('../assets/stoneland-header.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
	}
	.header-image {
		position: relative;
		width: 66%;
		margin-top: 320px;
	}
	.mobile {
		display: none;
	}
}
.map {
	position: absolute;
	max-width: 1200px;
	min-width: 600px;
	margin: 0 auto;
	top: 66%;
	left: 10%;
	z-index: -3;
}

}